name: Generate Sitemap

on:
  push:
    branches: [ main ]  # Runs every time you upload new files

jobs:
  sitemap_job:
    runs-on: ubuntu-latest
    name: Generate a sitemap
    steps:
    - name: Checkout the repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 

    - name: Generate the sitemap
      uses: cicirello/generate-sitemap@v1
      with:
        base-url-path: https://serviceshubnest.github.io/
        path-to-root: .
        include-pdf: false

    - name: Commit and push the sitemap
      run: |
        git config --global user.name 'github-actions'
        git config --global user.email 'github-actions@github.com'
        git add sitemap.xml
        git commit -m "Automated sitemap update" || exit 0
        git push
